/*

This CSS file describes main webpage styles (header, footer, etc.)

*/

:root {
    --trDeltaIn: 0.2s ease;
    --trDeltaOut: 0.8s ease;
    --roundRadius: 30px;
    --roundFullRadius: 50%;
    --padButtonV: 4px;
    --padButtonH: 20px;
    --padPanel: 16px 16px;
    --mrgButtonV: 0px;
    --mrgButtonH: 0px;
    --blurMain: blur(16px);
    --circleRadius: 40vw;
    --cubeSize: 20vw;
}

body {
    margin: 0;
    background: var(--bgMain); color: var(--fgMain);
    scroll-behavior: smooth;
}

header, footer { z-index: 1; }

header {
    position: fixed; width: 100vw; padding: 16px;
    display: flex; justify-content: space-around; align-items: center;
}

footer {
    padding: 16px; position: relative;
    display: flex; justify-content: space-around; align-items: center;
}

main {
    min-height: 200vh; padding: 10vw;
    transition: 1s ease;
}

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

textarea { text-align: left; border: 1px solid var(--fgMain); }

::selection { background: var(--fgMain); color: var(--bgMain); }

/* Light / dark theme (toggle by pressing "Theme" button */

:root {
        --bgMain: white;
        --fgMain: black;
        --bgButton: #F0FFFF;
        --bgButtonHover: #F5F5F5;
        --bgButtonActive:  #FFF0F5;
        --bgButtonPanel: #F0FFFF80;
        --fgTerminal: #FF00FF;
        --bgSemiAlpha: #FFFFFF80;
}

.darkmode {
        --bgMain: black;
        --fgMain: white;
        --bgButton: #171717;
        --bgButtonHover: #343434;
        --bgButtonActive: #36454F;
        --bgButtonPanel: #17171780;
        --fgTerminal: #00FF00;
        --bgSemiAlpha: #00000080;
}

/* Scrollbar */

* {
    scrollbar-width: 16px;
    scrollbar-color: var(--fgMain) var(--bgMain);
}
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: var(--bgMain);
}
*::-webkit-scrollbar-thumb {
    background: var(--fgMain);
    border-radius: var(--roundRadius);
}

header {
    background: transparent; backdrop-filter: var(--blurMain); box-shadow: 0px 0px 32px var(--bgMain);
}

pre { font-family: 'JetBrains Mono', monospace; }

/* Custom HTML5 elements */

.inverse_text {
    color: var(--bgMain); -webkit-text-stroke: 1px var(--fgMain);
    transition: var(--trDeltaOut);
}
.inverse_text:hover {
    color: var(--fgMain); -webkit-text-stroke: none;
    transition: var(--trDeltaIn);
}

.box {
    padding: 16px;
    text-align: left;
}

.button, .grbutton, .menubutton {
    padding: var(--padButtonV) var(--padButtonH); user-select: none; text-decoration: none;
    font-family: inherit; font-size: 24px;
    text-align: center;
}

.button {
    background: var(--bgButton); color: var(--fgMain); text-decoration: none;
    transition: var(--trDeltaOut);
}
.button:hover {
    background: var(--bgButtonHover); color: var(--fgMain); text-decoration: none;
    transition: var(--trDeltaIn);
}
.button:active {
    background: var(--bgButtonActive); color: var(--fgMain); text-decoration: none;
    transition: var(--trDeltaIn);
}

.menupanel {
    padding: 2px; display: flex;
    background: var(--fgMain);
}

.menubutton {
    background: var(--fgMain); color: var(--bgMain); text-decoration: none;
    transition: var(--trDeltaOut);
}
.active, .menubutton:hover {
    background: var(--bgMain); color: var(--fgMain); text-decoration: none;
    transition: var(--trDeltaIn);    
}

.langmenu {
	background: var(--bgMain); color: var(--fgMain);
	transition: 1s ease;
}
.langmenuitem {
    padding: var(--padButtonH); user-select: none;
    background: var(--bgButton); color: var(--fgMain);
    transition: var(--trDeltaOut);
}
.langmenuitem:hover {
    background: var(--bgButtonHover); color: var(--fgMain);
    transition: var(--trDeltaIn);
}
.langmenuitem:active {
    background: var(--bgButtonActive); color: var(--fgMain);
    transition: var(--trDeltaIn);
}

input {
    outline: none;
}
input[type=button] {
    border: inherit;
}

.textbox {
    padding: 16px; border: 1px solid var(--fgMain);
    background: var(--bgButton); color: var(--fgMain); box-shadow: 0px 0px 2px var(--fgMain);
    border-radius: var(--roundRadius);
    font-size: large;
    transition: var(--trDeltaOut);
}
.textbox:hover {
    background: var(--bgButtonHover); box-shadow: 0px 0px 4px var(--fgMain);
    transition: var(--trDeltaIn);
}
.textbox::placeholder {
    color: var(--fgMain); opacity: 0.5;
}
.textbox:focus {
    background: var(--bgButtonActive); box-shadow: 0px 0px 16px var(--fgMain);
    transition: var(--trDeltaIn);
}

.social { width: 48px; height: 48px; margin: 0px 8px; }

.platform {
    position: relative; width: 128px; height: 128px;
    filter: drop-shadow(0px 0px 4px var(--fgMain));
    animation: anim_platform 1s var(--animDelay) infinite ease;
}

.social, .platform { cursor: pointer; user-select: none; }

@keyframes anim_platform {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.round { border-radius: var(--roundRadius); }
.roundleft { border-radius: var(--roundRadius) 0px 0px var(--roundRadius); }
.roundright { border-radius: 0px var(--roundRadius) var(--roundRadius) 0px; }
.roundup { border-radius: var(--roundRadius) var(--roundRadius) 0px 0px; }
.rounddown { border-radius: 0px 0px var(--roundRadius) var(--roundRadius); }
.roundfull { border-radius: var(--roundFullRadius); }

.flex { display: flex; }
.inline { display: inline; }
.noselect { user-select: none; }

.fcenter {
	position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.monofont, pre { font-family: 'JetBrains Mono', monospace; }

.fullwidth { min-width: 100vw; }
.fullheight { min-height: 100vh; }

/*

Decorations

*/

.decor { z-index: -1; position: absolute; transform: translate(-50%, -50%); }

/* 3D cube */

.cube_cont {
    z-index: -1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    display: flex; justify-content: center; align-items: center;
    perspective: calc(var(--cubeSize) * 3); perspective-origin: center;
}

.cube, .cube_side { width: var(--cubeSize); height: var(--cubeSize); user-select: none; }
.cube {
    position: relative;
    transform-style: preserve-3d;
    animation: anim_cube 60s 0s infinite linear;
}
.cube_side {
    position: absolute; background: var(--bgSemiAlpha);
    border: 1px solid var(--fgMain);
}
.cube_front {
    transform: rotateY(0deg) translateZ(calc(var(--cubeSize) / 2));
}
.cube_back {
    transform: rotateY(180deg) translateZ(calc(var(--cubeSize) / 2));
}
.cube_left {
    transform: rotateY(-90deg) translateZ(calc(var(--cubeSize) / 2));
}
.cube_right {
    transform: rotateY(90deg) translateZ(calc(var(--cubeSize) / 2));
}
.cube_top {
    transform: rotateX(90deg) translateZ(calc(var(--cubeSize) / 2));
}
.cube_bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--cubeSize) / 2));
}

@keyframes anim_cube {
    to { transform: rotate3d(1, 1, 1, 720deg); }
}

/* Terminal.
   See 'scripts/terminal.js' for further details! */

.terminal {
    overflow: hidden; padding: 16px; text-align: left;
    background: var(--bgMain); color: var(--fgTerminal);
    text-shadow: 0px 0px 8px var(--fgTerminal);
}
.terminal_cursor {
    animation: anim_terminal_cursor 0.5s 0s infinite ease;
}
@keyframes anim_terminal_cursor {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.teammate {
    width: 75vw; padding: 64px;
    text-align: center;
}
.teammate_avatar {
    width: 256px; height: 256px;
    border-radius: var(--roundFullRadius);
    transition: var(--trDeltaOut);
}
.teammate_avatar:hover {
    box-shadow: 0px 0px 40px var(--fgMain);
    transition: var(--trDeltaIn);
}

/* Sign in/up form */

.sign_form {
    z-index: 1;
    position: fixed; top: 0; left: 0; width: 100%; height: 80vh;
    transform: translateY(-160vh);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: var(--fgMain); color: var(--bgMain);
    transition: 1s ease;
}

/* Windows :D */

.window {
    border: var(--fgMain); box-shadow: 0px 0px 16px var(--fgMain);
    width: fit-content; height: fit-content;
}
.window_titlebar {
    padding: 8px; text-align: center;
    background: var(--fgMain); color: var(--bgMain);
}
.window_client {
    padding: 16px;
    background: var(--bgMain); color: var(--fgMain);
}

/* Webpage last section */

.last_section {
    background: linear-gradient(to top, var(--fgMain), var(--bgMain)); color: var(--fgMain); margin-top: -5vh;
}

/* A little tweak for light mode enjoyers */

@media (prefers-color-scheme: light)
{
	.social, .stripes { filter: invert(100%); }
}